@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

html {
  -webkit-tap-highlight-color: none;
}

/* select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
} */

Link {
  text-decoration: none;
  list-style: none;
}

body {
  height: 3000px;
}

/* CENTERLIZE */

.center,
.ycenter-xbetween {
  display: flex;
  align-items: center;
}
.center {
  justify-content: center;
}
.ycenter-xbetween {
  justify-content: space-between;
}

.banner {
  padding-top: 150px;
}

/* TEXT */

.dark-text {
  color: #101010;
}

.super-title {
  font-size: 4rem;
  line-height: 4.2rem;
  font-weight: 900;
}

.big-title {
  font-size: 3rem;
  line-height: 4.2rem;
  font-weight: 900;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
}

.sub-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.additional-text {
  font-size: 1rem;
  font-weight: 400;
  color: #8a8a8a;
}
.additional-text {
  font-size: 0.875rem;
  font-weight: 500;
  color: #737373;
}

.emphasis {
  color: #ed0000;
}

/* TRANSITION */

.transition {
  transition: ease-in 0.2s;
}

/* COLOR */

.button-1 {
  background-color: #ed0000;
  color: #fff;
  box-shadow: 0 4px 10px rgba(237, 0, 0, 0.3);
}
.button-1:hover {
  box-shadow: 0 4px 10px rgba(237, 0, 0, 0.6);
}
.button-2 {
  background-color: #101010;
  color: #fff;
  box-shadow: 0 4px 10px rgba(16, 16, 16, 0.3);
}
.button-2:hover {
  box-shadow: 0 4px 10px rgba(16, 16, 16, 0.6);
}
.car-button {
  width: 100%;
  height: 4em;

  font-weight: 500;

  background: #e8e8e8;
}
.car-button:hover {
  background: #d4d4d4;
}
.car-button.car-selected {
  font-weight: 700;
  color: white;

  background: #ed0000;
  background: linear-gradient(90deg, #ed0000 0%, #ff7500 80%);
  background: -webkit-linear-gradient(90deg, #ed0000 0%, #ff7500 80%);
  background: -moz-linear-gradient(90deg, #ed0000 0%, #ff7500 80%);
}
.car-button:nth-child(1) {
  border-radius: 20px 0 0 0;
}
.car-button:last-child {
  border-radius: 0 0 0 20px;
}

.icon {
  width: 2.2em;
  margin-right: 0.4em;
  fill: #ed0000;
}

.circle {
  position: absolute;
  left: 35%;
  /* transform: translateX(-50%); */
  top: -10px;

  height: 80px;
  width: 80px;
  border-radius: 177px 126px 122px 93px;
  -webkit-border-radius: 177px 126px 122px 93px;
  -moz-border-radius: 177px 126px 122px 93px;

  z-index: -1;
}

.gradient {
  background: #ed0000;
  background: linear-gradient(90deg, #ed0000 0%, #ff7500 80%);
  background: -webkit-linear-gradient(90deg, #ed0000 0%, #ff7500 80%);
  background: -moz-linear-gradient(90deg, #ed0000 0%, #ff7500 80%);
}
