@tailwind base;
@tailwind components;
@tailwind utilities;

Link {
  text-decoration: none;
  list-style: none;
}

.center,
.ycenter-hbetween {
  display: flex;
  align-items: center;
}
.center {
  justify-content: center;
}
.ycenter-hbetween {
  justify-content: space-between;
}

.transition {
  transition: ease-in 0.2s;
}
